body {
    background-color:rgb(241, 235, 235) !important;
}

.rating img{
    width: 20px;
    margin-bottom: 1rem;
}

.container {
    margin-top: 30px;
}

textarea {
    height: 25px;
    max-width: 95%;
}

h2 textarea {
    height: 40px;
}

h3 textarea {
    height: 35px;
}

.container-fluid {
    margin-top: 20px !important;
}

.quantity {
    width: 50px !important;
}

